<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TitheProgram.Properties.Settings.titheConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\TitheProgram\tithe.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
